env
{
    PLINK2                          = "plink2"  // path to plink2 (in case not loaded in $PATH)
    LDZIP                           = "ldzip"   // path to ldzip (in case not loaded in $PATH)
}


params {

  // inputs
  pfile_template  = null
  vcf_template    = null
  npz_template    = null
  chroms          = '1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,X,Y,MT'
  extract        = null
  exclude        = null
  keep    = null

  // outputs
  outdir              = System.getProperty("user.dir")
  prefix              = "out"
  stage_pgen          = false
  stage_plink         = false
  stage_binary        = false
  stage_chunk         = false
  stage_chr           = false

  // npz-specific params
  npz_ld_type         = "PHASED_R"
  concat_pairwise     = false
  
  // plink LD params
  ld_command        = "--r-phased ref-based cols=id,ref,alt,dprime"
  ld_threads        = 4
  ld_window_kb      = 1000
  ld_window_r2      = 0.01
  chunk_size_kb     = null
  overlap_size_kb   = null

  // ldzip params
  bits            = 8
  min             = 0.0
  min_col         = "PHASED_R"
}

process {
    executor                = "local"
    cpus                    = 1
    errorStrategy           = 'retry'
    maxRetries              = 5

}

executor {
  $local {
        queueSize         = 4
        cpus              = 1
        memory            = '32 GB'
        submitRateLimit   = '100 sec'
  }
}


plugins {
  id 'nf-schema@2.3.0'
}
validation {
    help {
        enabled = true
        command = "~/LDZip/pipelines/wholeGenomeLD/main.nf --help "
        afterText="To get more details (and validation rules) on a particular input parameter, please try: \n\n\u001B[33m ~/LDZip/pipelines/wholeGenomeLD/main.nf --help parameter_name\u001B[0m\n"
    }
}

